# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Environment files
.env
.env.*
!env.template

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
